
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/LayoutPage.cshtml";
}
@*<h2>产品类别</h2>*@
<script src="~/scripts/jquery-1.7.2.min.js"></script>
<script>
    $(function () {
        $(".on").click(function () {
            $.ajax({
                type: "post",
                url:"@Url.Action("ProSortdata", "ProSort")",
                data: {"id":$(this).attr("dataid")},
                success: function (data) {
                    $(".fenlist").html('<ul id="fl">' + data + '</ul>')
                }
            })
        })
        $(".con").click(function () {
            $.ajax({
                type: "post",
                url: "@Url.Action("ProSortdata", "ProSort")",
                data: { "id": $(this).attr("dataid") },
            success: function (data) {
                $(".fenlist").html('<ul id="fl">' + data + '</ul>')
            }
        })
    })
    })
</script>
<!--ftop开始-->
<div class="ftop">
    <div class="index_search index_search01" style="padding-left: 10px;">
        <div style="left:0px; width:100%;" onclick="document.location='#'">
            <input type="text" placeholder="请输入您要搜索的产品">
            <input type="button" value=" ">
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始-->

<!--分类-->
<div class="fenlei">
    <div class="fen-nav">
        <ul>
            @{int i = 0;
                foreach (var item in ViewBag.Sortresult)
                {
                    if (i == 0)
                    {
                        <li class="on" dataid="@item.Code">@item.Name</li>
                    }
                    else
                    {
                        <li class="con" dataid="@item.Code">@item.Name</li>
                    }
                    i++;
                }
            }
        </ul>
    </div>
    <div class="fen-box">
        <div class="fff" >
            
          
                <div class="fenlist">
                    <ul id="fl">
                       
                        @foreach (var item in ViewBag.s)
                        {
                            <li>
                                @*<img src="~/images/icon_010.png" />*@
                                <a class="imga" href="/Product/Index/?id=@item.SortCode"><img src="~/images/img_012.jpg"></a>
                                <a class="txta" href="/Product/Index/?id=@item.SortCode">
                                    <span>@item.Pname</span>
                                    <i>@item.Pdesc</i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

          
        </div>
    </div>
</div>

<!--分类-->
<!--分类页面-->
<!--fixft开始-->

<!--fixft结束-->


<script>
    var m=$(window).height()-98;
    $(".fen-nav,.fen-box").css("height",m+"px");


    var $lii = $(".fenlei .fen-nav li");
    $(".fenlei .fen-box .fenlist").hide();
    $(".fenlei .fen-box .fenlist").first().show();
    $lii.click(function(){
        var n = $(this).index();
        var h = $(this).height();
        //alert(h)
        var sunh = n * h-1;
        $(".fen-nav").animate({"scrollTop":sunh+"px"},1000)


        $(this).addClass("on").siblings().removeClass("on");
        var indexx = $lii.index(this);
        $('.fenlei .fen-box').animate({scrollTop: '0px'},500);
       // $(".fenlei .fen-box .fff .fenlist").hide();
        $(".fenlei .fen-box .fff .fenlist").eq(indexx).show();
    })
    var w=$(".fenli li img").width();
    $(".fenli li img").height(w);
    $(window).resize(function(){
        var w=parseInt($(".fenli li img").width());
        $(".fenli li img").height(w);
    })

</script>


